<div class="guitar-cover-container">
  <%= image_tag("guitar-cover.jpg", class: "guitar-cover") %>
</div>
<div class="user-info">
<% if current_user.present? %>
<ul class="product-list">
<h1> Your Recent Purchases </h1>
<% @products.each do |product| %>
  <div class="products">
    <li>
    <div class="product"><div class="product-title center"><%= product.name %></div>
      <div></div>
    </li>
    </div>
  <% end %>
</ul>
<% end %>
</div>