<div class="feedback-container">
    <div class="feedback">
        <h1> Thanks For Your Order </h1>
        <h3>Your Order Has Been Recieved</h3>
        <h3> Your Total Amount is Total: <%= @cart_total %>$</h3> 
    </div>
</div>