// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.white-font {
    color: white !important;
}

.feedback {
    display: flex;
    flex-direction: column;
    h3 {
        justify-content: center;
        display: flex;
    }
}

.feedback-container {
    display: flex;
    justify-content: center;
}