// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products {
  list-style-type: none;
  color: grey
}
.product a {
  text-decoration: none;
  color: rgb(70, 63, 63);
}
.inventory-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product-list {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 700px;
}
.product {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: groove black 1px;
  border-bottom: black 1px;
  height: 230px;
  justify-content: space-between;
  border-bottom: solid 3px;
  padding: 1%;
  margin: 1%;
  border-color: #968e8ee3;
  .add-cart-button {
    flex: 1;
  }
  .product-title {
    flex: 5;
    font-size: 22px;
  }
  .cart-icon {
    font-size:25px
  }
  .price {
    flex: 1;
    color: rgb(13, 129, 133) !important;
  }
  .product-image {
    border: groove grey 1px;
    margin: 1px;
    margin-right: 2%;
  }
}
.confirm-purchase {
  margin: auto;
  margin-left: 28%;
}

.center {
  display: flex;
  justify-content: center;
}