<h2>INVENTORY</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <div><%= product.name %> | <%= product.price %>$</div> <%= link_to "Add Cart", product_path(id: product.id) %>
      <div></div>
    </li>
  <% end %>
</ul>